Source: gridvis-desktop
Section: utils
Priority: optional
Maintainer: Janitza electronics GmbH <info@janitza.com>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>
Build-Depends: debhelper (>= 7.0.50~),
  lynx
#Vcs-Git: 
#Vcs-Browser: 
Standards-Version: 3.9.5
Homepage: http://www.janitza.com/products/software/software-gridvis/

Package: gridvis-desktop
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends},
 jarwrapper (>= 0.43),
 openjdk-7-jre 
Description: administration software for Janitza measurement devices
 The Janitza-GridVis software allows you to control any setting for
 the measurement devices. It gives you also the possibility to read
 out the devices and store the measurement data.
 .
 The GridVis software is a product of:
 .
 Janitza electronics GmbH
 Vor dem Polstück 1
 D-35633 Lahnau
 Germany
