Source: gridvis-desktop
Section: utils
Priority: optional
Maintainer: Janitza electronics GmbH <info@janitza.com>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>
Build-Depends: debhelper (>= 7.0.50~),
  libfreetype6 (>= 2.4.9-1.1~),
  libgcj13,
  libgl1-mesa-glx (>= 8.0.5-4~),
  libxrender1 (>= 1:0.9.7-1),
  libxslt1.1 (>= 1.1.26-14.1~),
  libxtst6 (>= 2:1.2.1-1~),
  libxxf86vm1 (>= 1:1.1.2-1~),
  lynx
#Vcs-Git: 
#Vcs-Browser: 
Standards-Version: 3.9.6
Homepage: http://www.janitza.com/products/software/software-gridvis/

Package: gridvis-desktop
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends},
  xauth
Recommends: cups-pdf, ttf-mscorefonts-installer
Description: administration software for Janitza measurement devices
 The Janitza-GridVis software allows you to control any setting for
 the measurement devices. It gives you also the possibility to read
 out the devices and store the measurement data.
 .
 GridVis is also able to create reports based on DIN or EN normings.
 To create such PDF reports you will need to install some recommended
 packages like cups-pdf and depending on this ttf-mscorefonts-installer.
 .
 The GridVis software is a product of:
 .
 Janitza electronics GmbH
 Vor dem Polstück 1
 D-35633 Lahnau
 Germany
